{
    "presets": [
        [
            "preact-cli/babel",
            {
                "modules": "commonjs"
            }
        ],
        "es2015",
        "stage-1"
    ],
    "plugins": [
        "transform-decorators-legacy"
    ]
}